# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/

# Playwright & Reports
test-results/
report.html
.pytest_cache/
assets/

# Environment variables (Пароли)
.env
.env.local

# IDE settings
.idea/
.vscode/