# --- PYTHON ---
__pycache__/
*.pyc
.venv/
venv/
env/

# --- IDE ---
.idea/
.vscode/

# --- PLAYWRIGHT & PYTEST ---
.pytest_cache/
test-results/

# --- REPORTS ---
allure-results/
allure-report/
report.html
assets/

# --- JAVASCRIPT TRASH ---
node_modules/
package.json
package-lock.json

# --- SECRETS ---
state.json
.env
.env.local